# Object files
*.axf
*.iex
*.crf
*.d
*.o
*.ko
*.obj
*.elf
*.htm
*.build_log.htm
*.lnp
*.dep
*.sct

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out


# Debug files
*.dSYM/

#My config
*.map
*.uvguix.DammStangerTS
*.uvgui.DammStangerTS
*.uvgui.Xiaodeng
#*.uvopt
#*.uvproj
*.m51
*.lst
*.__i